*.tr
build/*
.waf*
.lock-waf*
.vscode/*

analyze/raw_basic/*
mix/output/*
mix/*_flow.txt
analysis/figures/*.pdf
**/*.pyc
.vscode
__pycache__
*/__pycache__

*.zip
*.history
*log.txt

aaa.txt
bbb.txt

*.pkl

est_error.txt
routing_table.txt
